@model TourTimesContext
@{
    ViewBag.Title = "Appointments Booked";
}

<div class="text-center">
    <br />
    <h2>View Appointments</h2>
    <br />

    <p style="font-size:larger">Previously booked reservations listed below.</p>
</div>

<div class="text-center; container; col-md-auto">
    <table class="table table-striped table-bordered" style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th class="th-sm" style="text-align:center">Group Name</th>
                <th class="th-sm" style="text-align:center">Email</th>
                <th class="th-sm" style="text-align:center">Phone Number</th>
                <th class="th-sm" style="text-align:center">Day</th>
                <th class="th-sm" style="text-align:center">Time</th>
            </tr>
        </thead>
        @foreach (var x in Model.Reservation)
        {
    <tr>
        <td>@x.GroupName</td>
        <td>@x.Email</td>
        <td>@x.PhoneNumber</td>
        <td>@Model.Tours.Where(t => t.TourId == x.TourId).FirstOrDefault().Day</td>
        <td>@Model.Tours.Where(t => t.TourId == x.TourId).FirstOrDefault().StartTime</td>
    </tr>
        }
    </table>
</div>

