@model IEnumerable<ReservationInformation>
@{
    ViewBag.Title = "Appointments Booked";
}

<div class="text-center">
    <h4>View Appointments</h4>
    //partial view Tour summary
    <br />

    <p>All of our appointments that have been booked are listed below.</p>
</div>

        @foreach (var x in Model)
        {
            <td>@x.GroupName</td>
            <td>@x.Email</td>
            <td>@x.PhoneNumber</td>
            <td>@x.TourId</td>
            <td>@x.StartTime</td>
        }
    </table>
</div>

