@model TourTimesContext
@{
    ViewBag.Title = "Appointments Booked";
}

<div class="text-center">
    <h4>View Appointments</h4>
    <br />

    <p>All of our appointments that have been booked are listed below.</p>
</div>

<div>
    <table>
        @foreach (var x in Model.Reservation)
        {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.Email</td>
                <td>@x.PhoneNumber</td>
                <td>@Model.Tours.Where(t => t.TourId == x.TourId).FirstOrDefault().Day</td>
                <td>@Model.Tours.Where(t => t.TourId == x.TourId).FirstOrDefault().StartTime</td>
            </tr>
        }
    </table>
</div>

